@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "All Book";
}

<h1>All Book</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark w-15">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
               Price
            </th>
            
            <th>
               Category
            </th>
            <th>
              Image
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width:100px">
                @Html.DisplayFor(model => item.Title)
            </td>
             <td style="width:300px">
             @Html.DisplayFor(model => item.Description)
             </td>
                    
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
                <td style="width:100px">
                @Html.DisplayFor(model => item.Category.Name)
            </td>
            <td>
                 <img id="profilePicture" style="width:170px;height:256px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageUrl))">
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark w-50">Edit</a>
                    <br>
                    <br>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark w-50">Details</a>
                    <br>
                    <br>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark w-50">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
